body {
    margin: 4px; /* same as focus outline width */
}

.terminal-box {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.theme-bow {
    background-color: #FFFFFF;
}

.theme-color {
    background-color: #2D2E2C;
}

.terminal-box:has(div.terminal.focus) {
    outline: 4px solid #72FF72;
}
